<div class="todo_list">
<h1>TO-DO LIST</h1>
<div class="list">
<input type="text" [(ngModel)]="task" placeholder="New Task">

@if (editId === null) {
  <button (click)="addTask()">ADD</button>
} @else {
  <button (click)="updateTask()">UPDATE</button>
}

@for (task of taskList; track task.id) {
  <ul>
    <li>{{task.id}}</li>
    <li>{{task.task}}</li>
    <button (click)="editTask(task)">Edit</button>
    <li><button (click)="deleteTask(task.id)">Delete</button></li>
    
  </ul>
}
</div>
</div>


